body {
    background-color: black;
    color: lightblue;
}

h1 {
    color: tomato;
    margin-left:20px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: tomato;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: tomato;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: tomato;
}

li {
    display: inline;
}

.center {
    display: block;
    margin-left: 260px;
    margin-right: 50px;
    width: 50%;
}

/* Add a black background color to the top navigation */
.select {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.select a {
    float: left;
    color: lime;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.select a:hover {
    background-color: #ddd;
    color: lime;
}

/* Add a color to the active/current link */
.select a.active {
    background-color: #4CAF50;
    color: lime;
}

